.container {
  padding: 0 2rem;
}

.small {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.large {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.small-padding {
  padding: 0.25rem;
}

.mediumpadding {
  padding: 0.5rem;
}

.large-padding {
  padding: 1rem;
}
@media screen and (max-width: 600px) {
  .small {
    grid-template-columns: 1fr;
  }
  .large {
    grid-template-columns: 1fr;
  }
    .small-padding {
      padding: 0.25rem;
    }
  
    .mediumpadding {
      padding: 0.5rem;
    }
  
    .large-padding {
      padding: 1rem;
    }
}
